.profile_body {
  background: #f5f5f5;
  margin-top: 20px;
}

.ui_w_80 {
  width: 80px !important;
  height: auto;
}

.btn_default {
  border-color: rgba(24, 28, 33, 0.1);
  background: rgba(0, 0, 0, 0);
  color: #4e5155;
}

label.btn {
  margin-bottom: 0;
}

.btn_outline_primary {
  border-color: #26b4ff;
  background: transparent;
  color: #26b4ff;
}

.btn {
  cursor: pointer;
}

.text_light {
  color: #babbbc !important;
}

.btn_facebook {
  border-color: rgba(0, 0, 0, 0);
  background: #3b5998;
  color: #fff;
}

.btn_instagram {
  border-color: rgba(0, 0, 0, 0);
  background: #000;
  color: #fff;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row_bordered {
  overflow: hidden;
}

.account_settings_fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.account_settings_links .list_group_item.active {
  font-weight: bold !important;
}

html:not(.dark_style) .account_settings-links .list_group_item.active {
  background: transparent !important;
}

.account_settings_multiselect ~ .select2_container {
  width: 100% !important;
}

.light_style .account_settings_links .list_group_item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light_style .account_settings_links .list_group_item.active {
  color: #4e5155 !important;
}

.material_style .account_settings_links .list_group_item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material_style .account_settings_links .list_group_item.active {
  color: #4e5155 !important;
}

.dark_style .account_settings_links .list_group_item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account_settings_links .list_group_item.active {
  color: #fff !important;
}

.light_style .account_settings_links .list_group_item.active {
  color: #4e5155 !important;
}

.light_style .account_settings_links .list_group_item {
  padding: 0.85rem 1.5rem;
  border_color: rgba(24, 28, 33, 0.03) !important;
}
